<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="web.page.css">
    
<head>
<h1>Adam Muhtadi</h1>
<h3>"Programmer"</h3>
<img src="41D72D22-DDB1-47B6-AF92-2F3F2C968F62.JPG" alt="its me" width="500" height="500">


<p>I'M 26 years old , live in jerusalem
     i love reading and photography
        my favirate color is blue.  
</p>

<ol>
    <li>Instegram :</li> 
    <a href="https://www.instagram.com/adam._.mu/" target="_blank">my profile</a> 
    <li>Facebook :</li>
    <a href="https://www.facebook.com/amuhtadi3" target="_blank">my profile</a>

</ol>
 
<div class="food">
          <div class="food-text">
            <h1 style="font-size:50px">where i eat in jerusalem</h1>
            <h1>the best food  :</h1>
            <p><a href="https://www.instagram.com/su.shi.place/">Sushi Place</a></p>
            <p><a href="https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwjBhYHf-ZCBAxWUBgYAHer9CqYYABAAGgJ3cw&ae=2&gclid=Cj0KCQjwgNanBhDUARIsAAeIcAtGdOXC6OGcfrbaJw1f7_mCr2d5cpR2JsIyLBvfVej5UPxpa8jFvW8aAruOEALw_wcB&ohost=www.google.com&cid=CAESbeD2bKdW2pCGnhH0PS-1QIc2poJHQuE4JQbIWrdbDttYmnI0bBGAxtGKP0GHx1DoZfmQc7fiRn47U37cokbOiNNyyr3je9M0BZdjmDqrQ1dM9etn8TdaisjMdxtlcLwNpmEnDU9eqqgWVYYTvKE&sig=AOD64_1Wl2-f-5OHlc-AFLD64iaGC02xeA&q&adurl&ved=2ahUKEwjqgfre-ZCBAxVtUaQEHdJhCzwQ0Qx6BAgKEAM&nis=2&dct=1">IWO'S Burger</a>
            <p><a href="https://www.facebook.com/King.Maswadeh/?locale=ar_AR">King of shawerma and falafal</a>    
                  </div>
        </div>

<html>
<head>